<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HAL_Projesi.Properties.Settings.giriş_kayıtlarıConnectionString"
            connectionString="Data Source=UTKU\MSSQLSERVER01;Initial Catalog=giriş_kayıtları;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>